

 {{#each element}}
            {{!--Here, we are stating that if the burger is not devoured, it will populate here. --}}

        
      
            <div class="container">

                <div class="panel panel-default">
                <div class="panel-heading">{{this.title}}</div>
                <div class="panel-body">{{this.link}}</div>
                </div>
            </div>

  {{/each}}