
            <div class="container" id="panelContainer">

 {{#each element}}
            {{!--Here, we are stating that if the burger is not devoured, it will populate here. --}}
    
      

  {{/each}}
            </div>