<div class="jumbotron" id="jumbotronText">
  <div class="container">
    <h1 class="display-3">Saved Articles</h1>
    <hr class="my-4">
    <p class="lead">Below, you can view all of the articles that have been saved. You can also comment on those articles as well.</p>
  </div>
</div>

<div class="container" id="panelContainer">
  {{#each article}}
  <div class="panel panel-default" id={{this._id}}>
    <div class="panel-heading">
      <a href={{this.link}} target="_blank">
        <h4>{{this.title}}</h4>
      </a>
    </div>
    <div class="panel-body">
      <p>{{this.postDescription}}</p>
      <div class="btn btn-info add-note" id="addNoteButton">Add a note</div>
      <div class="btn btn-danger delete-article" id="deleteArticleButton">Delete this article</div>
    </div>

  </div>
  {{/each}}
</div>

<div id="notesModal" class="modal fade" role="dialog" style="text-align: center;">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <div type="button" class="close btn btn-danger" data-dismiss="modal">&times;</div>
        <h2 class="modal-title"><strong>Notes For Article: <span id="articleID"></span></strong></h2>
      </div>
      <div class="modal-body">
        <div id="article-note-container" style="display: inline">

        </div>
        <hr />
        <form>
          <input type="text" placeholder="New Note" id="new-note" style="width: 400px; height: 100px">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="save-note-btn" data-dismiss="modal">SAVE NOTE</button>
      </div>
    </div>

  </div>
</div>